@model WebProject.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h3>@ViewData["Title"]</h3>

<hr />

<div class="container">
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BaseSalary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BaseSalary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Department.Name)
            </dd>
        </dl>
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="submit" class="btn btn-outline-warning btn-sm" value="Edit" />
            <a class="btn btn-outline-dark btn-sm" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
